<nav class="navbar navbar-expand-lg navbar-dark bg-dark footer fixed-bottom">
    <a class="navbar-brand" href="#">
        <a class="navbar-brand" style="margin-left: 43%;" href="#">By Nisarg Shah</a>
      </a>
</nav>